**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/*.user
**/*.suo
**/*.sln
**/*.md
**/Dockerfile*
**/docker-compose*
**/Properties/launchSettings.json
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Development.json
